@import "tailwindcss";


:root {forced-color-adjust: none;}

/* what is purpose of below code */
@custom-variant dark (&:is(.dark *));

:root {
  --light : #fff;
  --dark : #000;
  --primary : #29294b;
  --secondary : #5955d1;
  --heading : #222222;
  --para : #696981;
  --bg : #fdfdff;
  --br : #e1e1e8;
  --header-bg : #0000007d;
  --feature-bg : #0000004d;
  --feature-bg-dark : #00000059;
  --feature-li-bg : #ffffff38;
  --linear-bg : 180deg, #9895ff 0%, #514dcc 100%;
  --linear-body : 180deg, #fdfdff 0%, #f8f7ff 100%;
  --link-bg : #f2f2f6;
  --bg-clock : #29294b26;
  --shadow-search-field : 0px 5px 25px 0px rgba(114,114,255,.12);
  --shadow-hover : 0px 5px 25px 0px rgba(114,114,255,0.2);
  --shadow-btn-hover : 0px 5px 20px 0px rgba(114,114,255,0.4);
  --filter-dark : grayscale(100%) brightness(0%) invert(80%);
}

/* #222 */

.dark {
  --light : #000;
  --dark : #fff;
  --primary : #fff;
  --bg : #1c1c1c;
  --link-bg : #3d3d3d;
  --para : #cdcdcd;
  --br : #2e2e2e;
  --linear-bg : 180deg, #434343 0%, #0f0f0f 100%;
  --linear-body : 180deg,#1c1c1c 0%,#1c1c1c 100%;


  --shadow-search-field : 0 5px 20px 0 rgba(16,16,16,.5);
  --shadow-hover : 0 5px 20px 0 rgba(16,16,16,.6);
  --shadow-btn-hover : 0px 5px 20px 0px rgba(16,16,16,.4);
}


@theme inline {
  /* CONTAINER */
  --container-* : initial;
  --container-xs : 36rem;            /* 576px */
  --container-sm : 48rem;            /* 768px */ 
  --container-md : 62rem;            /* 992px */
  --container-lg : 75rem;            /* 1200px */
  --container : 81rem;               /* 1296px */
  /* MEDIA QUERIES */
  --breakpoint-* : initial;
  /* IF NEEDED THEN I WILL DEFINE THE MEDIA QUERY LESS THAN 480PX */
  --breakpoint-xs : 30rem;            /* 480px */
  --breakpoint-sm : 36rem;            /* 576px */
  --breakpoint-md : 48rem;            /* 768px */
  --breakpoint-lg : 62rem;            /* 992px */
  --breakpoint-xl : 75rem;            /* 1200px */
  --breakpoint-2xl : 87.5rem;         /* 1400px */
  /* COLOR */
  --color-* : initial;
  --color-light : var(--light);
  --color-dark : var(--dark);
  --color-primary : var(--primary);
  --color-secondary : var(--secondary);
  --color-heading : var(--heading);
  --color-para : var(--para);
  --color-bg : var(--bg);
  --color-br : var(--br);
  --color-header-bg : var(--header-bg);
  /* PRIVATE VARIABLES */
  --color--link-bg : var(--link-bg);
  --color--bg-clock : var(--bg-clock);
  --color--feature-bg : var(--feature-bg);
  --color--feature-li-bg : var(--feature-li-bg);
  --color--feature-bg-dark : var(--feature-bg-dark);
  --filter-primary : brightness(0) saturate(100%) invert(12%) sepia(56%) saturate(787%) hue-rotate(203deg) brightness(96%) contrast(88%);
  --filter-secondary : brightness(0) saturate(100%) invert(35%) sepia(19%) saturate(6180%) hue-rotate(227deg) brightness(86%) contrast(88%);
  --filter-para : brightness(0) saturate(100%) invert(42%) sepia(18%) saturate(464%) hue-rotate(202deg) brightness(92%) contrast(88%);
  --filter-white : brightness(0) saturate(100%) invert(95%) sepia(62%) saturate(0%) hue-rotate(147deg) brightness(104%) contrast(105%);
  /* SHADOW */
  --shadow-* : initial;
  --shadow-links : 0px 5px 20px 0px rgba(114,114,255,.15);
  --shadow-search : 0px 5px 25px 0px rgba(114,114,255,.15);
  --shadow-search-field : var(--shadow-search-field);
  --shadow-hover : var(--shadow-hover);
  --shadow-btn-hover : var(--shadow-btn-hover);
  --shadow-link-hover : 0px 5px 25px 0px rgba(114,114,255,0.4);
  /* BG LINEAR GRADIENT */
  --linear-bg : var(--linear-bg);
  --linear-body : var(--linear-body);
}

@layer theme {
  body {
    font-size: var(--text-st);
    line-height: 1.55;
    font-family: var(--font-dm-sans);
    background: linear-gradient(var(--linear-body));
    background-repeat: no-repeat;
  }
}


@layer utilities {
  .container {
    max-width: var(--container-xs);
    padding-inline: 0.75rem;
    margin-inline: auto;
  }
   @media (min-width: 48rem) {
    .container {
    /* as the query above than 768 - 992 then the container size will be 992px */
      max-width: var(--container-sm);
      padding-inline: 1.5rem;
    }
  }
  @media (min-width: 62rem) {
    .container {
    /* as the query above than 992 - 1200 then the container size will be 992px */
      max-width: var(--container-md);
    }
  }
  @media (min-width: 75rem) {
    .container {
    /* as the query above than 1200 - 1400 then the container size will be 1200px */
      max-width: var(--container-lg);
    }
  }
  @media (min-width: 87.5rem) {
    /* as the query above than 1400 then the container size will be 1296px */
    .container {
      max-width: var(--container);
    }
  }
  
}
@layer components {
  @media (max-width: 767px) {
    .strong-after::after {
      width: 18px;
      height: 18px;
      background: no-repeat center / contain url("../assets/images/icons/chevron-down.svg");
      position: absolute;
      inset: 0;
      margin-block: auto;
      margin-left: auto;
      margin-right: 14px;
      content: "";
      filter: var(--filter-para);
      transition: all 0.25s ease-in;
    }
    .rotation-active::after {
      transform: rotate(-180deg);
    }
    .dark .strong-after::after {
      filter: var(--filter-white);
    }
  }
  /* STYLING TO SWIPER SLIDER */
  .swiper.swiper-horizontal{
    padding-bottom: 35px !important;
    position: static !important;
  }
  .swiper-pagination.swiper-pagination-clickable{
    background-color: transparent !important;
  }
  .swiper-pagination-bullet {
    width: 7px !important;
    height: 7px !important;
    background: var(--primary) !important;
    border: 1px solid var(--primary) !important;
    opacity: 1 !important;
    border-radius: 50% !important;
    transition: all 0.25s ease !important;
  }
  .swiper-pagination-bullet-active {
    width: 24px !important;
    border-radius: 100px !important;
  }
  :where(.swiper-button-next, .swiper-button-prev) {
    width: 40px !important;
    height: 40px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    background-color: var(--light) !important;
    border-radius: 8px !important;
    box-shadow: var(--shadow-search-field) !important;
    visibility: hidden;
    opacity: 0;
    transition: all 0.25s ease;
  }
  .dark :where(.swiper-button-next, .swiper-button-prev) {
    background-color: var(--heading) !important;
    outline: 1px solid var(--br);
  }
  .swiper.swiper-horizontal:hover :where(.swiper-button-next, .swiper-button-prev){
    visibility: visible;
    opacity: 1;
  }
  :where(.swiper-button-next, .swiper-button-prev)::after {
    width:  24px !important;
    height: 24px !important;
    font-size: 24px !important;
    content: "" !important;
  }
  .swiper-button-next {
    right: 0px !important;
  }
  .swiper.swiper-horizontal:hover .swiper-button-next {
    right: -5px !important;
  }
  .swiper-button-next::after {
    background: no-repeat center / contain url("../assets/images/icons/chevron-right.svg");
  }
  .swiper-button-prev {
    left : 0px !important;
  }
  .swiper.swiper-horizontal:hover .swiper-button-prev{
    left: -5px !important;
  }
  .swiper-button-prev::after {
    background: no-repeat center / contain url("../assets/images/icons/chevron-left.svg");
  }
  .dark .swiper-button-next::after, .dark .swiper-button-prev::after {
    filter: var(--filter-white) !important;
  }
  @media (max-width: 992px) {
    :where(.swiper-button-next, .swiper-button-prev) {
      visibility: visible;
      opacity: 1;
    }
    .swiper.swiper-horizontal:hover .swiper-button-prev{
      left: -5px !important;
    }
    .swiper.swiper-horizontal:hover .swiper-button-next {
      right: -5px !important;
    }
  }
  /* CREATING A BREADCRUMB */
  .breadcrumb a::after {width: 10px; height: 10px; background: no-repeat center / contain url("../assets/images/icons/chevron-right.svg"); position: absolute; inset: 0; margin-block: auto; margin-left: auto; content: "";}
  .dark .breadcrumb a::after {filter: var(--filter-white);}
}

/* WHAT IS ANTIALIASED in CLASSNAME WHERE WE DEFINE THE VARIABLE  */
/* REVISE THE CONCEPT THEME AND THEME INLINE */
/* LIKE FRONTEND WE HAVE ASSETS IN BACKEND OR WE CAN DEFINE THE ASSETS LIKE IN FRONTEND */
/* @layer base is used for styling of html base elements like: body, p, h1 etc. */
/* @layer components is used for styling of resuable components (cards, buttons) etc. custom class like .btn, .card.  */
/* @layer utilities used for one-off utility classes means that will use for single purpose like .text-shadow and .container */
/* Make sure your custom CSS is after the @tailwind directives. */
/* HERE'S I WILL CREATED MORE CLASSES LIKE .BTN WITH THE HELP OF @layer components {} and in @layer utilities we can't use @apply and utilities used only for the single purposes like container width scrollbar and text shadow etc */
/* if we have a key in object is with kebab case or with space in between name of key then we have to wrap the key in double quotation like this "link-name" */